@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

input,
textarea,
select,
button {
  font-family: "Roboto", Arial, sans-serif;
}
.blog {
  display: flex;
  gap: 32px;
  max-width: 1100px;
  margin: 40px auto;
  font-family: "Roboto", Arial, sans-serif;
}

.newPost {
  flex: 1;
  min-width: 260px;
  max-width: 340px;
  background: #f8f8f8;
  padding: 20px 16px;
  border-radius: 10px;
  border: 1px solid #ececec;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  align-self: flex-start;
  box-sizing: border-box;
}

.newPost label {
  font-weight: bold;
  margin-bottom: 2px;
}

.newPost input,
.newPost button,
.newPost textarea {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 9px;
}

.newPost button:hover {
  background: #bdbdbd;
}

ul {
  border: 1px solid #ececec;
  border-radius: 10px;
  padding: 20px 40px;
  list-style: none;
  margin: 0;
  background: #f8f8f8;
}
