<div class="blog">
  <div class="newPost">
    <label>Título</label>
    <input type="text" [(ngModel)]="post.title" />
    <label>Imagen URL</label>
    <input 
      type="text"
      placeholder="https://picsum.photos/400/250"
      [(ngModel)]="post.img"
    />
    <label>Cuerpo</label>
    <textarea type="text" [(ngModel)]="post.body"></textarea>
    <label>Fecha</label>
    <input type="date" [(ngModel)]="post.date" />
    <button (click)="addPost()">Añadir noticia</button>
  </div>
  <div>
    <ul [innerHTML]="pintarPosts()"></ul>
  </div>
</div>
