<div class="blog">
  <div class="newPost">
    <label for="titulo">Título</label>
    <input type="text" id="titulo" [(ngModel)]="post.title" />
    <label for="imagen">Imagen URL</label>
    <input 
      type="text"
      id="imagen"
      placeholder="https://picsum.photos/400/250"
      [(ngModel)]="post.img"
    />
    <label for="cuerpo">Cuerpo</label>
    <textarea type="text" id="cuerpo" [(ngModel)]="post.body"></textarea>
    <label for="fecha">Fecha</label>
    <input type="date" id="fecha" [(ngModel)]="post.date" />
    <button (click)="addPost()">Añadir noticia</button>
  </div>
  <div>
    <ul [innerHTML]="pintarPosts()"></ul>
  </div>
</div>
